
/* #body {
    div {
  width: 100%;
  height: 400px;
  background-image: url('img_flowers.jpg');
  background-size: 100% 100%;
  border: 1px solid red;
}
} */

#body {
    background-image: url('../images/aleister_crowley.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* position: auto; */
    width: 100%;
    height: 400px;
    
}

#gamename {
    margin-top: 10px;
    padding-top: 20px;
    font-size: 180%;
    font-weight: bold;
}

/* #game {
    padding: 20px;
} */